/* CSS code 

body {
    background-image: url('https://img.freepik.com/free-photo/portrait-male-security-guard-with-uniform_23-2150368713.jpg?w=2000&t=st=1691444347~exp=1691444947~hmac=0550d8984cc7643ca871d96bad6de542dca591ee5b9cc4b1ff8e1968a3e37a61');
    background-position: center;
    
}*/

.container-fluid{
  background-color: rgb(211, 208, 243);
  padding: 4px 0;
}

.card-text{
  color: rgb(18, 27, 77);
  font-size:small;
  font-style: oblique;
  font-weight: 400;
}

.introatservice{
  color: rgb(18, 27, 77);
  font-size:small;
  font-weight: 500;
}

/*********/
.contact-topic{
  font-weight: bolder;
  text-align: center;
  font-weight: 700;
}

.contact-information{
  font-size: small;
  color: #291202;
  text-align: center;
  text-transform: lowercase;
}

.contactpage{
  background-color: rgb(211, 208, 243);

}


/**************/

#about-heading{
  color: rgb(61, 3, 3);
  font-weight: 800;
  text-align: center;
  font-size: xx-large;
}


.aboutus {
  font-size: small;
  font-weight: 500;
  color: rgb(46, 31, 2);
}



img{
  width: 100%;
  height: 70%;
}




#aboutusp{
  
}

#unarmd{
  color: rgb(133, 129, 230);
}
.headng-nav {
    background-color:#0dccf0;
    color: #fff;
    padding: 10px 0;
} 
#aboutt {
  display: flex;
  flex-direction: column;
}
.mainbody{
  max-width: 820px;
  padding: 24px;
  align-self: center;
}
.headng-logo img {
  height: 50px;
  width: 50px;
}
#ourmission.p{
  font-size: larger;
  font-weight: 500;
  font-style: italic;
}
.navbar {
  background-color: #363e47;
  padding: 10px;
}  
.navbar-brand {
  color: #212529;
  font-weight: bold;
}  
.navbar-nav .nav-link {
  color: #212529;
}  
.navbar-nav .nav-link:hover {
  color: #0d6efd;
}  
.dropdown-menu {
  background-color: rgb(62, 160, 147);
  color: #212529;
}  
.dropdown-item {
  color: #212529;
}  
.dropdown-item:hover {
  background-color: #f8f9fa;
}

  
#contactinformation{
  margin-left: 10px;
  font-weight: 200;
  line-height: 24px;
}
.footer {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.contact-topic{
  font-weight: 200;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}

/* Service Page */
.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.row {
  justify-content: center;
  gap: 64px
}
.card {
  min-width: 288px !important;
  max-width: 288px !important;
}
.card-header {
  text-align: center;
  background-color: rgb(211, 208, 243);
}
.custom-card {
  position: relative;
}
.card-glow {
  width: 100%;
  height: 100%;
}
/* Contact Page */
.contact-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0;
}
.custom-card {
  box-shadow: -0.3rem -0.3rem #00f;
}

@media (max-width: 1320px) {
  .row {
    gap: 32px;
  }
}
@media (max-width: 860px) {
  .row {
    gap: 24px;
  }
}
@media (max-width: 770px) {
  .row {
    gap: 16px;
  }
}